<h1 style="text-align: center;"><img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE=" style="width: 300px;height: 300px;margin-top: 20px;" alt=""></h1>
<div class="container" style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <form class="form-control" style="background-color: rgb(66, 104, 226);padding-top: 30px;padding-bottom: 30px;" (ngSubmit)="login()">
                <div class="mb-3">
                  <label for="username" class="form-label" style="color: whitesmoke"><b>User Name</b></label>
                  <input type="text" class="form-control" name="username" id="username" [(ngModel)]="book.username"  > 
                  <!-- <p  class="alert alert-danger">User Name is Mandatory </p>     -->
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label"style="color:whitesmoke"><b>Password</b></label>
                  <input type="password" class="form-control" name="password" id="password" [(ngModel)]="book.password" >
                  <!-- <p *ngIf="password.invalid && password.touched" class="alert alert-danger">User Name is Mandatory </p>  -->
                </div>
                
                <p style="text-align: center;"><button type="submit" class="btn btn-danger">Submit</button><a [routerLink]="['/register']" routerLinkActive="router-link-active" style="color: yellow;margin-left: 20px;" ><b>Register Here</b></a></p>
            </form>
        </div>
        <div class="col-2">
            
        </div>
    </div>

</div>



