





<!-- HTML CSS NEw -->



<div class="container" style="margin-bottom: 30px;">
    <h1 style="margin-top: 50px;">Edit Books</h1>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
          <form class="form-control" style="background-color: rgb(66, 104, 226);padding-top: 30px;padding-bottom: 30px;" (ngSubmit)="onEdit()" >
            <div class="form-group" style="margin-bottom: 10px;">
                <label style="color: whitesmoke;" for="name" id="name">Name</label>
                <input type="name" class="form-control" id="name"  placeholder="Enter Name" name="name" [(ngModel)]="editDetails.name">
                
              </div>
        
            <div class="form-group" style="margin-bottom: 10px;">
              <label  style="color: whitesmoke;" for="amount">Amount</label>
              <input type="number" class="form-control" id="amount" name="amount" aria-describedby="amount" placeholder="Enter Amount" [(ngModel)]="editDetails.amount">
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
              <label  style="color: whitesmoke;" for="author">Author</label>
              <input type="author" class="form-control" id="author" placeholder="Enter Author" name="author" [(ngModel)]="editDetails.author">
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label  style="color: whitesmoke;" for="description">Description</label>
                <input type="description" class="form-control" id="description" placeholder="Enter description" name="description" [(ngModel)]="editDetails.description">
              </div>
            <h1 style="text-align: center;"><button type="submit" class="btn btn-danger">Update</button></h1>
          </form>
           
        </div>
        <div class="col-1">
            
        </div>
    </div>

</div>



